<div class="container-fluid d-flex flex-column align-items-center justify-content-center background-screen">
  <h1 class="mb-5 fs-1 background-logo">Budget Application</h1>
  <div class="d-flex flex-column justify-content-around mt-4">
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary shadow fs-5 mb-3" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary shadow fs-5" %>
  </div>
</div>